@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --color-primary: #0f172a;
  --color-primary-light: #1e293b;
  --color-accent: #d4af37;
  --color-accent-light: #f3e5ab;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    @apply antialiased text-slate-800 bg-slate-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}